@font-face {
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Regular.ttf);
}

/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

/* Header */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto, auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-row-gap: 1px;

    background-color: rgb(8, 42, 73);
    padding: 0px 0px 10px 0px;
    margin: 0;

    height: auto;
    width: 100%;

    color: white;
}

header > * {
    padding: 16px;
}

#TopHeader  {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    border-bottom: solid rgba(10, 79, 134, 0.664);
}

#Navigator > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

#LeftBottomHeader {
    grid-area: 2 / 1 / 3 / 2;
    align-content: center;
    margin-left: 30%;
}

#LeftBottomHeader > p, h1 {
    width: 60%;
    padding: 10px, 10px, 10px, 0px;
}

#LeftBottomHeader > a {
    display: block;
    background-color: rgba(55, 137, 214, 0.863);
    width: 100px;
    
    border-radius: 10px;
    padding: 10px;

    color: white;
    text-align: center;
    text-decoration: none;
}

#RightBottomHeader {
    grid-area: 2 / 2 / 3 / 3;
    align-content: center;
    padding-left: 20%;
}

#RightBottomHeader > img {
    display: block;
    background-color: grey;

    text-align: center;
    line-height: 200px;

    width: 50%;
    height: 70%;
    padding: 15px;
}

/* Main content */
#MainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#MainContent > * {
    margin: 25px 0px;
}

#MainContent > h2 {
    text-align: center;
}

.Content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin:auto;
    width: 50%;
    padding: 16px;
    margin: 16px 0px 16px 0px;
}

.Content > * {
    padding: 15px
}

.Content > img {
    display: block;
    border-radius: 15px;
    border: solid rgb(25, 107, 231) 6px;

    text-align: center;
    line-height: 95px;

    width: 1400px;
    height: 200px;
}

.Quote {
    background-color: rgb(190, 190, 190);
    width: 80%;

    padding: 25px;
    display: flex;
    flex-direction: column;

    font-style: italic;
    font-size: x-large;
}

.SignUp {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 107, 231);
    width: 50%;
    padding: 25px;
    border-radius: 15px;
    color:white;

    font-size: large;
}

.SignUp > * {
    margin: 0px 50px;
}

.SignUp > a {
    display: block;
    padding: 10px;
    border: solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: rgb(8, 42, 73);
    padding: 25px 0px;

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    color: white;
}